<div class="container d-flex justify-content-center">
  <div class="sign-up-form d-flex flex-column">

    <div class="mt-5">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <div class="py-4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div>

        <div class="field pt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field pt-3">
          <%= f.label :password %><br /><i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field pt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field pt-3">
          <%= f.label :current_password %><br /><i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions pt-5">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>

    <div class="mt-3">
     <h3>Cancel my account</h3>
    </div>
    <div class="py-4">
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
    <%= link_to "Back", :back %>
  </div>
</div>
